<div class="user-details">
  <h1> Featured projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="img_yaqq" src="{{ "/assets/img/img_yaqq.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> YAQQ </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>The fidelity of the decomposition of quantum algorithms, represented as unitary matrices, to bounded depth quantum circuits depends strongly on the set of gates available for the decomposition routine. The developed software, called YAQQ (Yet Another Quantum Quantizer), enables the discovery of an optimized set of quantum gates. To identify these gate sets, we use the novelty search algorithm, circuit decomposition techniques (like Solovay-Kitaev, Cartan, and quantum Shannon decomposition), and stochastic optimization to implement YAQQ within the Qiskit quantum simulator environment. Consequently, we demonstrate pragmatic use cases of YAQQ in comparing transversal logical gate sets in quantum error correction codes, designing optimal quantum instruction sets, and compiling to specific quantum processors.</p>
    <a class="project-link" href="https://arxiv.org/abs/2406.17610">link to article</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="img_kanqas" src="{{ "/assets/img/img_kanqas.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> KAN-QAS </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>Quantum architecture Search (QAS) is a promising direction for automated design of quantum circuits. QAS techniques like Multi-Layer Perceptron (MLP)-based deep Q-networks remains challenging to interpret due to the large number of learnable parameters and the complexities in selecting activation functions. In this work, we overcome these challenges by utilizing the Kolmogorov-Arnold Network (KAN) in the QAS algorithm, demonstating their efficiency in the task of quantum state preparation and quantum chemistry, in noiseless and noisy scenarios. KAN outperforms MLPs in fidelity when approximating states, showcasing its robustness against noise. In quantum chemistry problems, we enhance the recently proposed QAS algorithm by integrating curriculum reinforcement learning with a KAN structure, facilitating a more efficient design of parameterized quantum circuits by reducing the number of required 2-qubit gates, circuit depth and learnable parameters compared to MLPs.</p>
    <a class="project-link" href="https://doi.org/10.1140/epjqt/s40507-024-00289-z">link to article</a>
  </div>
</div>
