 <div class="user-details">
  <h1> Research Domains </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h3>Quantum</h3>
<!--       <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <p>computing, information theory</p>
    </div>
    <div class="tech">
      <h3>Computation</h3>
<!--       <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>computability</p>
    </div>
    <div class="tech">
      <h3>Life</h3>
<!--       <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <p>minimal genome, artificial life</p>
    </div>
    <div class="tech">
      <h3>Intelligence</h3>
<!--       <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <p>artificial general intelligence</p>
    </div>
    <div class="tech">
      <h3>Cosmology</h3>
<!--       <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>holographic principle</p>
    </div>
</div>
